{% extends "shop/base.html" %}
{% load static%}
{% block content %}
<div class="flex items-center justify-center bg-white">
    <div class="flex flex-col">

        <!-- Navigation Bar -->
        <div class="px-5 pt-1 pb-0 bg-white  rounded-2xl">
            <div class="flex flex-row space-x-3">
                <!-- Item #1 -->
                <div class="flex group">
                    <a href="/" class="p-2 text-black hover:text-yellow-500">
                        <span class="flex flex-col items-center">
                            <!-- Icon -->
                            <i class="mdi mdi-home-outline mdi-24px mx-1 text-black group-hover:text-gray-700
                                        transition-color duration-200"></i>

                            <!-- Text -->
                            <span class="text-xs mb-2 transition-all duration-200 block">
                                <!-- {href='{% url 'home' %}' ou ='/'}-->
                                Acceuil
                            </span>

                            <!-- Focus Dot -->
                            <span class="h-1 w-5 rounded-full bg-yellow-500 group-hover:bg-yellow-500
                                        hover:h-3 hover:w-3 transition-all duration-150 delay-100
                                "></span>
                        </span>
                    </a>
                </div>

                <!-- Item #2 -->
                <div class="flex group">
                    <a href="#categorie" class="p-3 text-black hover:text-yellow-500">
                        <span class="flex flex-col items-center">
                            <!-- Icon -->

                            <i class='bx bx-category-alt mx-1 pt-1 text-black group-hover:text-gray-700
                                        transition-color duration-200 text-2xl '></i>

                            <!-- Text -->
                            <span class="text-xs mb-2 transition-all duration-200">
                                Catégories
                            </span>

                            <!-- Focus Dot -->
                            <span class="h-2 w-2 rounded-full group-hover:bg-yellow-500
                                        transition-all duration-150 delay-100"></span>
                        </span>
                    </a>
                </div>

                <!-- Item #5 -->
                <div class="flex group">
                    <a href="#" class="p-3 text-black hover:text-yellow-500">
                        <span class="flex flex-col items-center">
                            <!-- Icon -->
                            <i class="mdi mdi-account-circle-outline mdi-24px mx-1 text-black group-hover:text-gray-700
                                        transition-color duration-200"></i>

                            <!-- Text -->
                            <span class="text-xs mb-2 transition-all duration-200">
                                Compte
                            </span>

                            <!-- Focus Dot -->
                            <span class="h-2 w-2 rounded-full group-hover:bg-yellow-500
                                        transition-all duration-150 delay-100"></span>
                        </span>
                    </a>
                </div>
                <div class="flex group">
                    <a href="#flash" class="p-3 text-black hover:text-yellow-500">
                        <span class="flex  items-center">
                            <div class="">
                                <svg class="h-7 lg:h-8 p-2  mx-1 text-black group-hover:text-gray-700
                                        transition-color duration-200" aria-hidden="true" focusable="false"
                                    data-prefix="far" data-icon="bolt" role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 384 512" class="svg-inline--fa fa-bolt fa-w-12 fa-9x">
                                    <path fill="currentColor"
                                        d="M377.8 167.9c-8.2-14.3-23.1-22.9-39.6-22.9h-94.4l28.7-87.5c3.7-13.8.8-28.3-7.9-39.7C255.8 6.5 242.5 0 228.2 0H97.7C74.9 0 55.4 17.1 52.9 37.1L.5 249.3c-1.9 13.8 2.2 27.7 11.3 38.2C20.9 298 34.1 304 48 304h98.1l-34.9 151.7c-3.2 13.7-.1 27.9 8.6 38.9 8.7 11.1 21.8 17.4 35.9 17.4 16.3 0 31.5-8.8 38.8-21.6l183.2-276.7c8.4-14.3 8.4-31.5.1-45.8zM160.1 457.4L206.4 256H47.5L97.7 48l127.6-.9L177.5 193H334L160.1 457.4z">
                                    </path>
                                </svg>
                                <span class="text-xs mb-2 transition-all duration-200">Deal Today</span>
                            </div>
                        </span>
                    </a>
                </div>
               
                
                <!-- <div id="alert" class="alert m-auto ">
                    <div class="flex sm:block bg-green-100 rounded-lg p-4 mb-4 text-sm text-green-700" role="alert">
                        <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <div>
                            <span id="alertbi" class="font-medium truncate" style="visibility:hidden ;animation-duration: 3000ms;">Success
                                alert!</span>
                        </div>
                    </div>
                    
                
                    MDI Icons
                </div> -->
            </div>
        </div>
    </div>
</div>
        <!-- categories -->
        <!-- MDI Icons -->
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css">
        <style>
            .story-ring {
                padding: 2px;
            }
        </style>
        
    <div class=" mx-auto  ">
        <div class=" flex-none w-full ">
            <div id="default-carousel" class="relative" data-carousel="static">
                <!-- Carousel wrapper -->
                <div class="overflow-hidden relative h-56 rounded-lg sm:h-64 xl:h-80 2xl:h-96">
                    <!-- Item 1 -->
                    {% for img in slider %}
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <span
                            class="">First
                            Slide</span>
                        <img src="{{ img.image.url }}"
                            class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
                    </div>
                    {% endfor %}
                  
                    
                </div>
                <!-- Slider indicators -->
                <div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1"
                        data-carousel-slide-to="0"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                        data-carousel-slide-to="1"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                        data-carousel-slide-to="2"></button>
                </div>
                <!-- Slider controls -->
                <button type="button"
                    class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
                    data-carousel-prev>
                    <span
                        class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                        </svg>
                        <span class="hidden">Previous</span>
                    </span>
                </button>
                <button type="button"
                    class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
                    data-carousel-next>
                    <span
                        class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                        </svg>
                        <span class="hidden">Next</span>
                    </span>
                </button>
            </div>
        
            <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
        </div>
    </div>

    <!-- list product -->
    <div class="flex flex-col">
        <div class=" sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">

            {% comment %} list products {% endcomment %}
            <div class="mt-5 grid w-9/12 lg:grid-cols-3 2xl:grid-cols-6 lg:space-x-2 gap-4 grid-cols-2 sm:grid-cols-2 space-x-1 md:grid-cols-1 md:mx-auto sm:grid-cols-1 justify-center mx-auto">
                <div class="mb-5">
                    <h4 class="text-3xl py-5 font-bold border-b-2 border-black-500">
                        Derniers ajouts
                       
                    </h4>
        
                </div>
                {% for product in product|slice:":11" %}
                
                <div
                    class="animProduit text-center lg:w-56 w-full md:w-32 mx-auto cursor-pointer rounded-3xl bg-gray-100 transition duration-300 ease-in-out hover:scale-105    hover:drop-shadow-xl">
                    <a href="detail/{{product.id}}">
                        <div
                            class="w-full h-full bg-white content-center shadow-md rounded-lg max-w-sm bg-light dark:border-gray-700">
                            <a href="detail/{{product.id}}">
                                <img class="rounded-t-lg p-8 lg:w-56 lg:h-56 md:w-56 md:h-56 sm:w-56 xs:w-24 xs:h-24" src="{{product.image.url}}" alt="product image" />
                            </a>
                            <div class="px-5 pb-5">
                                <a href="detail/{{product.id}}">
                                    <h3 id="aa{{ product.id }}"
                                        class="text-gray-900 font-semibold lg:text-lg text-sm tracking-tight text-dark truncate text-left">
                                        {{product.title}}
                                    </h3>
                                </a>
                                <div class="flex items-center mt-2.5 mb-5">
                                    <p class="text-xs truncate">{{ product.category }}</p>
                                    
                                </div>
                               
                                <div class="flex items-center justify-between ">
                                    <span id="price{{ product.id }}"
                                        class="lg:text-xl text-sm font-bold text-gray-900 text-dark">{{product.price}} </span>
                                    <h6 class="flex">CFA</h6>
                                </div>
                                <div class="flex  justify-between espace-x-2">
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                {%endfor %}
            </div>
          </div>
        </div>
    </div>
        
 
<div id="categorie" class="h-min-screen flex items-center justify-center bg-[#0f766e] mt-5">

    <div class="">
  
      <!-- produit par categorie -->
      
      </div>
      <div class="flex justify-center items-center">
        <div class="2xl:mx-auto 2xl:container py-12 px-4 sm:px-6 xl:px-20 2xl:px-0 w-full">
          <div class="flex flex-col jusitfy-center items-center space-y-10">
            <div class="flex flex-col justify-center items-center ">
              <h1 class="text-3xl xl:text-4xl font-semibold leading-7 xl:leading-9 text-gray-800 dark:text-white">Shop By Category</h1>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-x-4 md:gap-x-8 w-full">
              {% for cat in categorie %}
                <div class="relative group flex justify-center items-center h-full w-full">
                  <img class="object-center object-cover h-full w-full" src="{{ cat.image.url }}" alt="{{ cat.name }}-image" />
                  <a href="{% url 'categorie' cat.id %}" class="text-center dark:bg-gray-700 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">{{ cat.name }}</a>
                  <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-36 bg-white bg-opacity-50"></div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      
      
     
    </div>
  
</div>
    

    <div class="flex flex-col">
        <div class=" sm:mx-0.5 lg:mx-0.5">
          <div class="py-5  inline-block min-w-full sm:px-6 lg:px-8">
    {% for key, values in my_dict.items %}
                   
    <div class="m-10">
        <button class="group relative  overflow-hidden rounded-lg bg-white text-lg shadow-lg">
            <div class="absolute inset-0 w-3 bg-[#045757] transition-all duration-[250ms] ease-out group-hover:w-full"></div>
            <span class="relative text-black group-hover:text-white"> <h4 class="  py-3">
                <a href="categorie/{{key.id}}" class="lg:text-2xl sm:text-xl font-normal mx-5 leading-tight">
                    {{key}} </a>
        </h4></span>
        
          </button><a href="categorie/{{key.id}}" class="px-3"> voir plus</a><i class='text-2xl bx bx-right-arrow-alt' style='color:#045757'  ></i>
       
       <div class="border-b-4 border-black-500 pt-3"></div>

    </div>
    {% comment %} list products {% endcomment %}
    <div class="mx-10 grid lg:grid-cols-4 2xl:grid-cols-6 lg:space-x-2 gap-4 grid-cols-2 sm:grid-cols-2  space-x-1 md:grid-cols-1 md:mx-auto sm:grid-cols-1 justify-center mx-auto">
        {% for product in values|slice:":5" %}
        <!-- animProduit -->
        <div
            class=" animProduit text-center lg:w-56 w-full md:w-56 mx-auto cursor-pointer rounded-3xl bg-gray-100 transition duration-300 ease-in-out hover:scale-105    hover:drop-shadow-xl">
            <a href="detail/{{product.id}}">
                <div
                    class="w-full h-full bg-white content-center shadow-md rounded-lg max-w-sm bg-light dark:border-gray-700">
                    <a href="detail/{{product.id}}">
                        <img class="rounded-t-lg p-8 lg:w-56 lg:h-56 md:w-56 md:h-56 sm:w-56 xs:w-32 xs:h-32" src="{{product.image.url}}" alt="product image" />
                    </a>
                    <div class="px-5 pb-5">
                        <a href="detail/{{product.id}}">
                            <h3 id="aa{{ product.id }}"
                                class="text-gray-900 font-semibold lg:text-lg text-sm tracking-tight text-dark truncate text-left">
                                {{product.title}}
                            </h3>
                        </a>
                        
                       
                        <div class="flex items-center justify-between ">
                            <span id="price{{ product.id }}"
                                class="lg:text-xl text-sm font-bold text-gray-900 text-dark">{{product.price}} </span>
                            <h6 class="flex">CFA</h6>
                        </div>
                        <div class="flex  justify-between espace-x-2">
                            
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
        {%endfor %}
    </div>
    {% endfor %}
          </div></div>
    </div>

<!-- Promotion -->
<div class="py-16 bg-white" id="flash">
    <div  class="container m-auto px-6 space-y-8 text-gray-500 md:px-12 lg:px-20">
        {% if not promo %}
        <h1 class="text-4xl text-gray-700 font-bold md:text-5xl">Les promos arrivents bientôt !</h1>
        {% endif %}
        {% for pr in promo %}
        <div class="justify-center text-center gap-6 md:text-left md:flex lg:items-center  lg:gap-16">
            <div class="order-last mb-6 space-y-6 md:mb-0 md:w-6/12 lg:w-6/12">
                <h1 class="text-4xl text-gray-700 font-bold md:text-5xl">Buy now and benefit up to <span class="text-blue-500">30% off</span></h1>
                <p class="text-lg">Be part of millions people around the world using tailus in modern User Interfaces.</p>
                <div class="flex flex-row-reverse flex-wrap justify-center gap-4 md:gap-6 md:justify-end">
                    <button type="button" title="Start buying" class="w-full py-3 px-6 text-center rounded-xl transition bg-gray-700 shadow-xl hover:bg-gray-600 active:bg-gray-700 focus:bg-gray-600 sm:w-max">
                        <span class="block text-white font-semibold">
                            Start buying
                        </span>
                    </button>
                    <button type="button" title="more about" class="w-full order-first py-3 px-6 text-center rounded-xl bg-gray-100 transition hover:bg-gray-200 active:bg-gray-300 focus:bg-gray-200 sm:w-max">
                        <span class="block text-gray-600 font-semibold">
                            More about
                        </span>
                    </button>
                </div>
            </div>
            <div class="grid grid-cols-5 grid-rows-4 gap-4 md:w-5/12 lg:w-6/12">
                <div class="col-span-2 row-span-4">
                    <img src="https://tailus.io/sources/blocks/ecommerce-site/preview/images/products/kushagra.webp" class="rounded-full" width="640" height="960" alt="shoes" loading="lazy">
                </div>
                <div class="col-span-2 row-span-2">
                    <img src="https://tailus.io/sources/blocks/ecommerce-site/preview/images/products/iman.webp" class="w-full h-full object-cover object-top rounded-xl" width="640" height="640" alt="shoe" loading="lazy">
                </div>
                <div class="col-span-3 row-span-3">
                    <img src="https://tailus.io/sources/blocks/ecommerce-site/preview/images/products/daniel.webp" class="w-full h-full object-cover object-top rounded-xl" width="640" height="427" alt="shoes" loading="lazy">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



</section>
   
    

{% block js %}
    
{% endblock js %}

{% endblock content %}