{% extends "shop/base.html" %}

{% block content  %}
<div class="flex flex-col">
    <div class=" sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div>
            <h4 class="text-3xl font-normal border-b-4 mt-5 border-black-500">
                Resultat de votre recherche "{{item_name}}"
               
            </h4>

        </div>
       
        <div class="grid lg:grid-cols-5 2xl:grid-cols-6 lg:space-x-2 gap-4 grid-cols-2 sm:grid-cols-2 space-x-1 md:grid-cols-1 md:mx-auto sm:grid-cols-1 justify-center mx-auto">
            {% for product in product %}
            <div
                class="animProduit text-center lg:w-56 w-full md:w-56 mx-auto cursor-pointer rounded-3xl bg-gray-100 transition duration-300 ease-in-out hover:scale-105    hover:drop-shadow-2xl">
                <a href="detail/{{product.id}}">
                    <div
                        class="w-full h-full bg-white content-center shadow-md rounded-lg max-w-sm bg-light dark:border-gray-700">
                        <a href="detail/{{product.id}}">
                            <img class="rounded-t-lg p-8 lg:w-56 lg:h-56 md:w-56 md:h-56 sm:w-56 xs:w-32 xs:h-32" src="{{product.image.url}}" alt="product image" />
                        </a>
                        <div class="px-5 pb-5">
                            <a href="detail/{{product.id}}">
                                <h3 id="aa{{ product.id }}"
                                    class="text-gray-900 font-semibold lg:text-lg text-sm tracking-tight text-dark truncate">
                                    {{product.title}}
                                </h3>
                            </a>
                            <div class="flex items-center mt-2.5 mb-5">
                                <p class="text-xs truncate">{{ product.category }}</p>
                                
                            </div>
                           
                            <div class="flex items-center justify-between ">
                                <span id="price{{ product.id }}"
                                    class="lg:text-xl text-sm font-bold text-gray-900 text-dark">{{product.price}} </span>
                                <h6 class="flex">CFA</h6>
                            </div>
                            <div class="flex  justify-between espace-x-2">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {%endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock %}